data/mongolia/

# Local environments
.venv/
venv/
env/

# IDE settings
.idea/
.vscode/

# Python cache
__pycache__/
*.py[cod]

# Notebook checkpoints
.ipynb_checkpoints/

# LaTeX temporary files
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.fdb_latexmk
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
